/* Lockscreen CSS */
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{

}
.app-title {
    position: fixed;
    top: 80%;
    font-size: 80px;
}
.title {
    position: fixed;
    left: 5px;
}
.lockscreen-time {
    font-weight: thin;
    cursor: none;
}
