/* Customization on the status bar can be found within this CSS file. */

* {
    user-select:  none;
}
body {
    width: auto;
    height: auto;

}
#embedded-status-bar { /* CSS for the status bar. */
    height: 2%;
    color: #ffffff;
}
#runner-in-con {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    
}