* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.winbox {
    background: #ffffff;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
}
.wb-min {
    color: #000000;
}

.wb-max {
    color: #000000;
}

.wb-close {
    background-color: #000000;
}

.wb-full {
    color: #000000;}
.winbox.min {
    color: #000000;}

.wb-body {
    /* set the width of window border via margin: */
    margin: 4px;
    color: #fff;
    background: #131820;
}

.wb-drag {
    background-color: whitesmoke;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
}